@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px;
}

.leftNav{
    display: flex;
    gap: 20px;
}

.leftNav img:nth-child(2){
    width: 90px;
}

.centreNav{
    width: 60%;
    display: flex;
    justify-content: center
}

.centreNav > input{
    background-color: black;
    font-size: 17px;
    border: none;
    width: 50%;
    padding: 5px 15px;
    border: 1px solid #222222;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
}

.centreNav img:nth-child(2){
    padding: 3px 10px;
    background-color: #222222;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.centreNav img:nth-child(3){
    margin-left: 10px;
}

.rightNav{
    display: flex;
    gap: 20px;
}

.rightNav img:nth-child(4){
    width: 30px;
    border-radius: 50%;
}

.ytPremium{
    /* margin-top: 50px; */
    font-family: Roboto, Arial, sans-serif;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.ytdesc > h2{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.ytPremiumDetaits{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.ytPremiumDetaits > button{
    padding: 10px 15px;
    border-radius: 20px;
    width: 40%;
    border: none;
    font-weight: 600;
    color: white;
    background-color: #065fd4;
}

.ytPremiumDetaits p:nth-child(2){
    font-size: 23px;
}

.annual{
    color: #296cd6;
}

.ytPremiumDetaits p:nth-child(4){
    color: #296cd6;
}

.features{
    background-color: black;
    color: white;
    display: flex;
    height: 39%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.features h2{
    font-size: 20px;
}

.features div:nth-child(1), .features div:nth-child(2), .features div:nth-child(3){
    width: 28%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features div:nth-child(1)>p, .features div:nth-child(2)>p, .features div:nth-child(3)>p{
    color: rgb(156, 148, 148);
    font-size: 14px;
}

.bg1{
    background-image: url(assets/bg1.jpeg);
    height: 59%;
    background-size: cover;
}

.bg1 > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 138px 227px 6px 868px;
}

.bg1 > div > h2{
    font-size: 3em;
    font-weight: lighter;
    color: white;
}

.bg1 > div > p{
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.803);
}

.bg2{
    background-image: url(assets/bg2.jpeg);
    height: 59%;
    background-size: cover;
}

.bg2 > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 120px 782px 6px 232px;
}

.bg2 > div > h2{
    font-size: 3em;
    font-weight: lighter;
    color: white;
}

.bg2 > div > p{
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.803);
}

.bg3{
    background-image: url(assets/bg3.jpeg);
    height: 59%;
    background-size: cover;
}

.bg3 > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 138px 227px 6px 868px;
}

.bg3 > div > h2{
    font-size: 3em;
    font-weight: lighter;
    color: white;
}

.bg3 > div > p{
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.803);
}

.bg4{
    background-image: url(assets/bg4.jpeg);
    height: 59%;
    background-size: cover;
}

.bg4 > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 120px 782px 6px 232px;
}

.bg4 > div > h2{
    font-size: 3em;
    font-weight: lighter;
    color: white;
}

.bg4 > div > p{
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.803);
}

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 60%;
    gap: 40px;
}

.faqDetail{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faqDetail > p{
    font-size: 28px;
    font-weight: 700;
}

.drop{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    font-size: 17px;
    font-weight: 500;
}

hr{
    opacity: 0.3;
}

.helpCenter > p{
    font-size: 19px;
    font-weight: 700;
    padding-right: 323px;
}

.helpCenter > p > span{
    color: #3ebaff;
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #373736;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #262625;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #faf7f7;
}





@media screen and (max-width: 480px) {
    .centreNav {
        display: none;
    }
    .rightNav > img:nth-child(2){
        display: none;
    }
    .ytPremium{
        height: 110%;
    }
    .ytPremiumLogo > img{
        width: 100%;
    }
    .ytdesc > h2{
        width: 100%;
    }
    .ytPremiumDetaits > button {
        font-size: 14px;
        padding: 10px 5px;
        width: 50%;
    }
    .ytPremiumDetaits p:nth-child(2) {
        font-size: 22px;
    }
    .features {
        height: 130%;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .features div:nth-child(1), .features div:nth-child(2), .features div:nth-child(3) {
        width: 80%;
        height: 30%;
        gap: 10px;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bg1, .bg2, .bg3, .bg4 {
        height: 40%;
        background-position: center;
        padding-left: 25px;
        padding-bottom: 25px;
        padding-right: 15px;
    }
    .bg1 > div, .bg2 > div, .bg3 > div, .bg4 > div {
        gap: 13px; 
        padding: 0;
        justify-content: end;
        height: 100%;
    }
    .bg1 > div > h2, .bg2 > div > h2, .bg3 > div > h2, .bg4 > div > h2 {
        font-size: 1.7em;
        font-weight: 400;
    }
    .bg1 > div > p, .bg2 > div > p, .bg3 > div > p, .bg4 > div > p {
        font-size: 15px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.803);
    }
    .faqs {
        height: 110%;
        gap: 75px;
    }
    .faqDetail {
        margin-top: 75px;
        width: 46%;
    }
    .helpCenter > p {
        width: 46%;
        margin: auto;
        font-size: 17px;
        font-weight: 500;
        padding-right: 0px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .ytPremium{
        height: 90%;
    }
    .features{
        height: 95%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .features div:nth-child(1), .features div:nth-child(2), .features div:nth-child(3) {
        width: 45%;
        height: 40%;
        gap: 10px;
    }
    .bg1, .bg2, .bg3, .bg4 {
        height: 50%;
    }
    .bg1 > div > h2, .bg2 > div > h2, .bg3 > div > h2, .bg4 > div > h2 {
        font-size: 1.7em;
        font-weight: 400;
    }
    .bg1 > div > p, .bg2 > div > p, .bg3 > div > p, .bg4 > div > p {
        font-size: 15px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.803);
    }
    .bg1 > div, .bg3 > div {
        gap: 13px; 
        padding: 98px 40px 0 394px;
    }
    .bg2 > div, .bg4 > div {
        gap: 13px; 
        padding: 93px 384px 0px 26px;
    }
    .faqs{
        height: 90%;
        gap: 75px;
    }
    .helpCenter > p {
        width: 66%;
        margin: auto;
        font-size: 17px;
        font-weight: 500;
        padding-right: 0px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .ytPremium{
        height: 85%;
    }
    .features{
        height: 45%;
    }
    .bg1, .bg2, .bg3, .bg4 {
        height: 82%;
    }
    .bg1 > div, .bg3 > div {
        gap: 13px; 
        padding: 179px 58px 0 537px;
    }
    .bg2 > div, .bg4 > div {
        gap: 13px; 
        padding: 199px 561px 0px 54px;
    }
    .faqs{
        height: 90%;
        gap: 75px;
    }
    .helpCenter > p {
        /* width: 66%; */
        /* margin: auto; */
        font-size: 17px;
        font-weight: 500;
        padding-right: 0px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}